h1 {
    color: blue;
  }

  h3 {
    color: green;
    font-style: bold italic;
    text-align: left;
  }

  
  div { 
    display: block;
    font-style: italic;
    background-color: aqua;

  }

  .green-background {
    background-color: #e6f0ea;
  }
  
  