h1 {
    color: blue;
  }

  h3 {
    color: green;
    font-style: bold italic;
    text-align: left;
  }

  
  div
  {
  background-color: red;
  margin: 2px;
  font-size: 25px;
  }
  
  
  <body>
  <div > div ul </div>
  <div > div h2 </div>
  
  </body>
  
  